%p
  Hello
  = "#{@name},"
%br
%p
  It seems that a scheduled time for a review just passed.
%ul
  %li
    Restaurant name:
    = @restaurant.name
  %li
    Date and time:
    = TimeHelpers.to_human(@restaurant.scheduled_review_date_and_time)
%br
%img(src="https://urc-public-images.s3.us-east-2.amazonaws.com/output-onlinepngtools+(2).png" width="30")
= link_to 'CLICK HERE to confirm if review happened or not', @confirm_url
%br
%br

