%p
  Hello
  = @restaurant.name
  ,
%br
%p Thank you for submitted your scheduling info!
%p We received the following information:
%ul
  %li
    Time option 1:
    = TimeHelpers.to_human(@restaurant.option_1)
  %li
    Time option 2:
    = TimeHelpers.to_human(@restaurant.option_2)
  %li
    Time option 3:
    = TimeHelpers.to_human(@restaurant.option_3)
  - if @restaurant.scheduling_phone_number
    %li
      Phone Number:
      = @restaurant.scheduling_phone_number
  - if @restaurant.scheduling_notes
    %li
      Notes:
      = @restaurant.scheduling_notes
    %li
      Sample dishes confirmation: You agreed to offer the photographer and writer some sample dishes for them to taste, write about and take photos of.
    %li
      No charge confirmation: You agreed to not charge the photographer or writer for any of the sample dishes or drinks that they receive when they go to your restaurant.


%p
  We will now organize with our writers and creators and get back to you shortly with a final time.
%p
  If you have any questions or concerns then please reply to this email and we will get back to you right away.
