%p
  Hello Team,
%br
%p A creator just confirmed that a review happened and next step emails were sent out to creators and the restaurant.
%ul
  %li
    Restaurant name:
    = @restaurant.name
  %li
    Creator name:
    = @creator.name

%p Below are the email contents sent out to creators and the restaurant
%b Email sent to creators:
%br
%p
  Hello
  = "#{@creator.name},"
%br
= sanitize @creators_html
%br
%b Email sent to Restaurant:
%br
%p
  Hello
  = "#{@restaurant.name},"
%br
= sanitize @restaurant_html
