%p
  Hey Team Good luck today!
- if @data[:gif]
  - gif = @data[:gif]
  %img{src: gif[:url], width: gif[:width], height: gif[:height] }
%br
%br
%a(href="https://urc-production.herokuapp.com/admin/reviews_in_progress")
  Admin Panel Link
%br
%br
%h3 Daily Summary
%p(style="padding: 20px; width: 600px; border: 5px solid red;")
  %b Today's Reviews
  (Needs Creators and Restaurant Confirmation 2 hours before Review!!):
  %b= @data[:todays_reviews][:count]
%p(style="margin-top: 10px; padding: 20px; width: 600px; border: 5px solid orange;")
  %b Tomorrow's Reviews
  (Needs Creators confirmation!!):
  %b= @data[:tomorrows_reviews][:count]
%p(style="margin-top: 10px; padding: 20px; width: 600px; border: 5px solid green;")
  %b Reviews in 2 days
  (Needs Restaurant confirmation!!):
  %b= @data[:in_two_days_reviews][:count]
%br
%p(style="margin-top: 10px;height: 30px;")
  Confirming that Review Happened:
  %b= @data[:confirming_review_happened][:count]
%p(style="margin-top: 5px;height: 30px;")
  Scheduled Reviews (not for next three days):
  %b= @data[:scheduled_but_not_for_next_three_days][:count]
%p(style="margin-top: 5px;height: 30px;")
  Reviewed and Needing Content:
  %b= @data[:reviewed_but_needing_content][:count]
%p(style="margin-top: 5px;height: 30px;")
  Accepted and Needing a Confirmed Review Time:
  %b= @data[:accepted][:count]
%p(style="margin-top: 5px;height: 30px;")
  Number of Creators that Applied within last day:
  %b= @data[:newly_applied_creators][:last_24_hour_count]
%p(style="margin-top: 5px;height: 30px;")
  Number of Creators that Applied within last 7 days:
  %b= @data[:newly_applied_creators][:last_7_day_count]
%br
%br
%br
%h3 Today's Reviews
%table(style="padding: 10px; border: 5px solid red;")
  %tr
    %th(style="width: 150px; text-align: left;") Restaurant
    %th(style="width: 150px; text-align: left;") Time
    %th(style="width: 150px; text-align: left;") Writer
    %th(style="width: 150px; text-align: left;") Photographer
  - @data[:todays_reviews][:reviews].all.each do |rest|
    %tr
      %td= rest.name
      %td= TimeHelpers.to_human(rest.scheduled_review_date_and_time)
      %td= rest.writer&.name
      %td= rest.photographer&.name
  %br
%h3 Tomorrow's Reviews
%table(style="padding: 10px; border: 5px solid orange;")
  %tr
    %th(style="width: 150px; text-align: left;") Restaurant
    %th(style="width: 150px; text-align: left;") Time
    %th(style="width: 150px; text-align: left;") Writer
    %th(style="width: 150px; text-align: left;") Photographer
  - @data[:tomorrows_reviews][:reviews].all.each do |rest|
    %tr
      %td= rest.name
      %td= TimeHelpers.to_human(rest.scheduled_review_date_and_time)

      %td= rest.writer&.name
      %td= rest.photographer&.name
%h3 Reviews in 2 days
%table(style="padding: 10px; border: 5px solid green;")
  %tr
    %th(style="width: 150px; text-align: left;") Restaurant
    %th(style="width: 150px; text-align: left;") Time
    %th(style="width: 150px; text-align: left;") Writer
    %th(style="width: 150px; text-align: left;") Photographer
  - @data[:in_two_days_reviews][:reviews].all.each do |rest|
    %tr
      %td= rest.name
      %td= TimeHelpers.to_human(rest.scheduled_review_date_and_time)

      %td= rest.writer&.name
      %td= rest.photographer&.name
%h3 Reviews needing Instagram post
%table
  %tr
    %th(style="width: 150px; text-align: left;") Restaurant
  - @reviews_needing_instagram_post.all.each do |review|
    %tr
      %td= review.restaurant&.name
