%p
  Hey team,
%br
%p
  A review date and time has been confirmed for
  = @restaurant.name
  and emails have been sent to both creators and the restaurant
%br
%hr
%p
  %b Email letting non selected creators know that they were not selected:
%p Hello CREATOR NAME HERE,
%br
%p
  Regarding the restaurant
  %b= "#{@restaurant.name},"
  we regret to inform you that you were not selected for this review.
%p
  The reason for this is that two other creators had a better matching time and thus they were selected in order to meet the restaurant's deadline.
%br
%p
  We greatly appreciate you selecting a time option and we will make sure to bump you up in the system for the next available review!
%br
%hr
%p
  %b Email content for no charge confirmation email sent to restaurant:
%p
  Hello
  = "#{@restaurant.name},"
%br
%p
  Regarding your scheduled review for:
  %b= TimeHelpers.to_human(@restaurant.scheduled_review_date_and_time)
%br
= sanitize @no_charge_html
%br
%br
%hr
%p
  %b Email content for scheduled time sent to restaurant:
%p
  Hello
  = "#{@restaurant.name},"
%br
%p
  This is an email to confirm that a writer and photographer from Uni Restaurant Club will review your restaurant on the following date and time:
%ul
  %li
    %br= TimeHelpers.to_human(@restaurant.scheduled_review_date_and_time)
%br
= sanitize @restaurant_html
%br
%br
%hr
%p
  %b Email content sent to creators:
%br
%p
  Hello
  = "#{@writer.name} and #{@photographer.name},"
%br
%p
  = "You have a new confirmed review time for #{@restaurant.name}!"
%p
%ul
  %li
    Restaurant:
    = @restaurant.name
  %li
    = link_to "Yelp Link", @restaurant.yelp_url
  %li
    Scheduled date and time:
    = TimeHelpers.to_human(@restaurant.scheduled_review_date_and_time)
  %li
    Writer:
    = @writer.name
  %li
    Photographer:
    = @photographer.name
%br
= sanitize @creators_html
